*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 55px;
    background-color: rgb(57, 57, 206);
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.container{
    padding: 0 10vw;
}
@media screen and(max-width: 1000px) {
    .container{
        padding: 0 6vw;
    }
}

@media screen and(max-width: 650px) {
    .container{
        padding: 0 3vw;
    }
}