:root{
    --primary-clr:rgb(57, 57, 206)
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 55px;
    background-color: var(--primary-clr) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.logo{
    font-size:1.1em;
    font-weight: bold;
}

.nav-links a{
    font-size: .9em;
    opacity: .9;
    text-transform: uppercase;
    margin-left: .75em;
}

.nav-links a:hover, .nav-links a.active{
    opacity: 1;
    text-decoration: underline;
}

.nav-links .btn{
    background-color: #fff;
    color: var(--primary-clr);
    margin-left: .7em;
}

.btn{
    border: none;
    outline: none;
    padding: .5em .7em;
    border-radius:2px;
    background-color: var(--primary-clr);
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

}

.btn i{
    margin-right: .5em;
}

.btn.submit{
    background-color: var(--primary-clr);
    color: #fff;
    padding: .75em 1em;
}

.btn.cancel{
    background-color: rgb(6, 185, 6);
    color: #fff;
    padding: .75em 1em;
}
label{
    margin-bottom: .3em;
}

.msg{
    color: rgb(151, 121, 121);
    text-align: center;
}

.container{
    padding: 0 10vw;
}

.main{
    margin: 1.5em 0;
}

.boards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
}

.board{
    padding: 1em;
    box-shadow: 0 3px 6px rgb(0, 0, 0, .15);
    border-top: 3px solid red;
    border-radius: 4px;
    margin-bottom: 1em;
}

.items{
    padding: 1em;
    box-shadow: 0 3px 6px rgb(0, 0, 0, .15);
    border-radius: 4px;
}
.items .head .priority{
    font-weight: bold;
    color: rgb(48, 47, 47);

}

.item .title{
    margin: 1em 0;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(48, 47, 47);
}

.list-move{
    transition: .4s;
}

.text-right{
    text-align: right;
}

.btn.delete{
    color: rgb(223, 16, 16);
    background-color: rgb(255, 202, 202);
}

.badge{
    padding: .3em .75em;
    background-color: red;
    margin-left: 1em;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 2px 3px rgb(0, 0, 0, .15);
    font-size: .8em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.board .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items:center;
    backdrop-filter: blur(5px);
}

.modal .content{
    padding: 1em;
    background-color: #fff;
    width: 90%;
    max-width: 350px;
    border-radius: 5px;
}

.content .title{
    font-size: 1.2em;
    font-weight: bold;
}

.form{
    margin: 1em 0;
}

.form label, .form input, .form select{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.form input{
    padding: .5em;
    border-radius: 3px;
    margin-bottom: .75em;
}

input[type="color"]{
    padding: .1em .5em;
}
select {
    padding: .1em .5em;
}

.form select{
    padding: .5em;
    border-radius: 3px;
    margin-bottom: .75em;
}


.head .title{
    font-size: 1.1em;
    font-weight: bold;
}
.fa-trash{
    margin-left: .74em;
    color: rgb(223, 16, 16);
    cursor: pointer;
}

@media screen and(max-width: 1000px) {
    .container{
        padding: 0 6vw;
    }
}

@media screen and(max-width: 650px) {
    .container{
        padding: 0 2vw;
    }
}