:root{
    --primary-clr:rgb(57, 57, 206)
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 55px;
    background-color: var(--primary-clr) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.logo{
    font-size:1.1em;
    font-weight: bold;
}

.nav-links a{
    font-size: .9em;
    opacity: .9;
    text-transform: uppercase;
    margin-left: .75em;
}

.nav-links a:hover, .nav-links a.active{
    opacity: 1;
    text-decoration: underline;
}

.nav-links .btn{
    background-color: #fff;
    color: var(--primary-clr);
    margin-left: .7em;
}

.btn{
    border: none;
    outline: none;
    padding: .5em .7em;
    border-radius:2px;
    background-color: var(--primary-clr);
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

}

.btn i{
    margin-right: .5em;
}

.msg{
    color: rgb(151, 121, 121);
    text-align: center;
}

.container{
    padding: 0 10vw;
}

.main{
    margin: 1.5em 0;
}

.boards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
}

.board{
    padding: 1em;
    box-shadow: 0 3px 6px rgb(0, 0, 0, .15);
    border-top: 3px solid red;
    border-radius: 4px;
}

.board .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}

.head .title{
    font-size: 1.1em;
    font-weight: bold;
}
.fa-trash{
    margin-left: .74em;
    color: rgb(223, 16, 16);
    cursor: pointer;
}

@media screen and(max-width: 1000px) {
    .container{
        padding: 0 6vw;
    }
}

@media screen and(max-width: 650px) {
    .container{
        padding: 0 2vw;
    }
}